/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #1e1d20;
  color: #ede8f7;
}
button {
  margin: 0.5rem;
  width: 14rem;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #83e6c0;
  color: #1a1f1d;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #aaf1d6;
}